/* Global Layout Set-up */
* {  
    box-sizing: content-box;
}
body {
    background-image: url(images/pinkimage.jpeg);
    width: 900px;
    margin-bottom: 15%
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
    font-size: 17px;
    padding: 10px 40px;
}
.banner {
   width: 1380px;
   margin-top: 35px;
   margin-left: 20px;
}
#demobox {
    padding: .5%;
    margin-top: 30px;
    background-color: #FAF9F6;
    height: 410px;
    width: 475px;
    border-radius: 50px;
  }
#ptext2 {
    margin: 10px;
    text-align: left;
    padding: 25px;
}
#ptext3 {
    margin: 10px;
    padding: 10px;
    text-align: center;
}
#demobox2 {
    position: absolute; left: 300px; bottom: -32%;
    float: right;
    margin-bottom: 55px;
    background-color: #FAF9F6;
    height: 270px;
    width: 950px;
    border-radius: 50px;
  }
#ptext4 {
    text-align: center;
    padding: 10px;
    margin: 15px;
}
#demobox3 {
    position: absolute; left: 1110px; top: 290px;
    margin: 20px;
    background-color: #FAF9F6;
    height: 350px;
    width: 295px;
    border-radius: 50px;
}
#ptext5 {
    text-align:center;
    padding: 10px;
    margin: 10px;
}
#ptext6 {
    text-align: center;
    padding: 10px;
}
#ptext7 {
    text-align: center;
    padding: 10px;
}
.Lyric {
    position: absolute; bottom: 12%; left: 38%; 
    width: 250px;
    height: 410px;
    border-radius: 10px;
    
}
.Dogs {
    position: absolute; bottom: 220px; left: 56%; 
    width: auto;
    height: 230px;
    border-radius: 50%;
}
#aboutme {
    background-color: white;
    font-size: 60px;
    position: relative; left: 95%; bottom: 150px;
    color: #FC74FD;
    font-style: italic;
}