/* Global Layout Set-up */
* { 
    box-sizing: border-box;
  }
  body {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 775px;
    width: auto;
  }
  .topnav a {
    float: left;
    color: #black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    padding: 10px 40px;
    background-color: #eae3c9; 
    width: 200px;

  }
  .Artwork1 {
    padding-bottom: 30px;
    padding-left: 300px;
    padding-top: 170px;
  }

  #coding {
    font-size: 50px;
    margin-top: -300px;
    margin-left: 190px;
    font-style: italic;

  }

  #design {
    font-size: 50px;
    text-align: center;
    margin-top: -125px;
    margin-right: -900px;
    font-style: italic;
  }
  .designp {
    font-size: 17px;
    margin-top: -65px;
    margin-left: 1025px;
  }
  .codingp {
    font-size: 17px;
    margin-top: -50px;
    margin-left: 75px;
    padding-top: 3px;
  }
.iconbar {
  margin-left: 650px;
  margin-top: 150px;

}
.instagram {
  height:auto;
  width: 50px;
  border-radius: 50%;
}
.linkedin {
  height: auto;
  width: 50px;
  border-radius: 50%;
}
.facebook {
  height: auto;
  width: 50px;
  border-radius: 50%;
}
a:hover {
  background-color: slategray;
}
